<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
    <!-- 다른 설정들... -->
    <typeAliases>
        <!-- 패키지 경로를 포함한 클래스명으로 지정 -->
        <typeAlias alias="MemberDTO" type="com.ssafy.cultureisland.member.MemberDTO"/>
    </typeAliases>
    <!-- 다른 설정들... -->
</configuration>